<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="UTF-8">
<title>Document</title>
<style>
    input[type=range] {
  width: 500px;
  border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
}
#tickmarks{
  width: 515px;
  display: flex;
  position: relative;
  left: -6px;
}
#tickmarks option{
    width: 25px;
    display: inline-block;
    font-size: 10px;
    text-align: center;
}

.wrapper{
  display: inline-block;
  margin: 10px;
}
</style>
</head>
<body>
<div class="swiperBar">
  <div class="wrapper">
    <datalist id="tickmarks">
    <option value="0" label="0">
    <option value="10">
    <option value="20" label="1">
    <option value="30">
    <option value="40" label="2">
    <option value="50">
    <option value="60" label="3">
    <option value="70">
    <option value="80" label="4">
    <option value="90">
    <option value="100" label="5">
    <option value="110">
    <option value="120" label="6">
    <option value="130">
    <option value="140" label="7">
    <option value="150">
    <option value="160" label="8">
    <option value="170">
    <option value="180" label="9">
    <option value="190">
    <option value="200" label="10">
  </datalist>
  <input type="range"  step="5" list="tickmarks" onchange="showVal(this.value,'volumeBox')">
  </div>
 <div class="volume" style="display: inline-block">
      响度评估:<span id="volumeBox" ></span>
 </div>
</div>
<div class="swiperBar">
  <div class="wrapper">
  <datalist id="tickmarks">
    <option value="0" label="0">
    <option value="10">
    <option value="20" label="1">
    <option value="30">
    <option value="40" label="2">
    <option value="50">
    <option value="60" label="3">
    <option value="70">
    <option value="80" label="4">
    <option value="90">
    <option value="100" label="5">
    <option value="110">
    <option value="120" label="6">
    <option value="130">
    <option value="140" label="7">
    <option value="150">
    <option value="160" label="8">
    <option value="170">
    <option value="180" label="9">
    <option value="190">
    <option value="200" label="10">
  </datalist>
  <input type="range"  step="5" list="tickmarks" onchange="showVal(this.value,'dailyBox')">
  </div>
   <div class="daily" style="display: inline-block">
        日常影响评估:<span id="dailyBox" ></span>
   </div>
</div>  	
</body>
<script>
function showVal(newVal,id){
  document.getElementById(id).innerHTML=newVal*0.1;
}
</script>
</html>
