/* ブレイクポイントが670px以下の時のメディアクエリを設定してください */
@media (max-width:670px) {
 .total-box{
    margin-top: 120px;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 20px;
    }

textarea.form-control{
	padding-left: 32px;
    margin-left: 30px;
    margin-bottom: 30px;
}
  
  
}